h3{
	margin-top: 10px !important;
}

.details-dialog {

  	min-width: 500px; 
  	max-height: 700px; 
  	overflow-y: auto; 
  	overflow-wrap: anywhere;

}

.details-icon-person {
	margin-top: 10px;
	margin-right: 10px;
}