h3 {
    margin-top: 15px !important;
}

mat-expansion-panel{
    margin-top: 40px;
    background-color:  rgba(187, 245, 245, 0.268);
    margin-bottom: 20px;
}

mat-button-toggle {
    background-color: rgba(213, 241, 250, 0);
}

table {
    background-color: rgba(250, 128, 114, 0);
    margin-bottom: 20px;
}

img {
    margin-left: 5px; 
    margin-bottom: 5px;
    border-radius: 3rem;
}

.details-icon-account-circle {
    margin-left: auto !important; 
    margin-top: 18px !important;
}